In [5]:
from datasets import load_dataset
import pandas as pd
from pandasql import sqldf

c:\Users\Jasiek\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [28]:
pysqldf = lambda q: sqldf(q, globals())

In [53]:
state_alignments = {
    'state_info': [
        'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
        'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
        'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
        'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
        'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
        'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
        'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
        'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
        'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
        'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
    ],
    'alignment': [
        'Republican', 'Republican', 'Democratic', 'Republican', 'Democratic',
        'Democratic', 'Democratic', 'Democratic', 'Republican', 'Republican',
        'Democratic', 'Republican', 'Democratic', 'Republican', 'Republican',
        'Republican', 'Republican', 'Republican', 'Democratic', 'Democratic',
        'Democratic', 'Democratic', 'Democratic', 'Republican', 'Republican',
        'Republican', 'Republican', 'Democratic', 'Democratic', 'Democratic',
        'Democratic', 'Democratic', 'Republican', 'Republican', 'Republican',
        'Republican', 'Democratic', 'Democratic', 'Democratic', 'Republican',
        'Republican', 'Republican', 'Republican', 'Republican', 'Democratic',
        'Democratic', 'Democratic', 'Republican', 'Democratic', 'Republican'
    ]
}

states_df = pd.DataFrame(state_alignments)

In [1]:
# Load the LIAR dataset
dataset = load_dataset("liar")

# Convert the 'train' split to a Pandas DataFrame
df_train = pd.DataFrame(dataset['train'])

# Display the first few rows of the DataFrame
print(df_train.head())

Downloading builder script:   0%|          | 0.00/6.41k [00:00<?, ?B/s]

Downloading readme:   0%|          | 0.00/5.16k [00:00<?, ?B/s]

Downloading and preparing dataset liar/default to /Users/janek/.cache/huggingface/datasets/liar/default/1.0.0/479463e757b7991eed50ffa7504d7788d6218631a484442e2098dabbf3b44514...

Downloading data:   0%|          | 0.00/1.01M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/10269 [00:00<?, ? examples/s]

Generating test split:   0%|          | 0/1283 [00:00<?, ? examples/s]

Generating validation split:   0%|          | 0/1284 [00:00<?, ? examples/s]

Dataset liar downloaded and prepared to /Users/janek/.cache/huggingface/datasets/liar/default/1.0.0/479463e757b7991eed50ffa7504d7788d6218631a484442e2098dabbf3b44514. Subsequent calls will reuse this data.

  0%|          | 0/3 [00:00<?, ?it/s]

           id  label                                          statement  \
0   2635.json      0  Says the Annies List political group supports ...
1  10540.json      1  When did the decline of coal start? It started...
2    324.json      2  Hillary Clinton agrees with John McCain "by vo...
3   1123.json      0  Health care reform legislation is likely to ma...
4   9028.json      1  The economic turnaround started at the end of ...

                              subject         speaker             job_title  \
0                            abortion    dwayne-bohac  State representative
1  energy,history,job-accomplishments  scott-surovell        State delegate
2                      foreign-policy    barack-obama             President
3                         health-care    blog-posting
4                        economy,jobs   charlie-crist

  state_info party_affiliation  barely_true_counts  false_counts  \
0      Texas        republican                 0.0           1.0
1   Virginia          democrat                 0.0           0.0
2   Illinois          democrat                70.0          71.0
3                         none                 7.0          19.0
4    Florida          democrat                15.0           9.0

   half_true_counts  mostly_true_counts  pants_on_fire_counts  \
0               0.0                 0.0                   0.0
1               1.0                 1.0                   0.0
2             160.0               163.0                   9.0
3               3.0                 5.0                  44.0
4              20.0                19.0                   2.0

               context
0             a mailer
1      a floor speech.
2               Denver
3       a news release
4  an interview on CNN

In [33]:
df = df_train
df_train

,id,label,statement,subject,speaker,job_title,state_info,party_affiliation,barely_true_counts,false_counts,half_true_counts,mostly_true_counts,pants_on_fire_counts,context
0,2635.json,0,Says the Annies List political group supports ...,abortion,dwayne-bohac,State representative,Texas,republican,0.0,1.0,0.0,0.0,0.0,a mailer
1,10540.json,1,When did the decline of coal start? It started...,"energy,history,job-accomplishments",scott-surovell,State delegate,Virginia,democrat,0.0,0.0,1.0,1.0,0.0,a floor speech.
2,324.json,2,"Hillary Clinton agrees with John McCain ""by vo...",foreign-policy,barack-obama,President,Illinois,democrat,70.0,71.0,160.0,163.0,9.0,Denver
3,1123.json,0,Health care reform legislation is likely to ma...,health-care,blog-posting,,,none,7.0,19.0,3.0,5.0,44.0,a news release
4,9028.json,1,The economic turnaround started at the end of ...,"economy,jobs",charlie-crist,,Florida,democrat,15.0,9.0,20.0,19.0,2.0,an interview on CNN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10264,5473.json,2,There are a larger number of shark attacks in ...,"animals,elections",aclu-florida,,Florida,none,0.0,1.0,1.0,1.0,0.0,"interview on ""The Colbert Report"""
10265,3408.json,2,Democrats have now become the party of the [At...,elections,alan-powell,,Georgia,republican,0.0,0.0,0.0,1.0,0.0,an interview
10266,3959.json,1,Says an alternative to Social Security that op...,"retirement,social-security",herman-cain,,Georgia,republican,4.0,11.0,5.0,3.0,3.0,a Republican presidential debate
10267,2253.json,0,On lifting the U.S. Cuban embargo and allowing...,"florida,foreign-policy",jeff-greene,,Florida,democrat,3.0,1.0,3.0,0.0,0.0,a televised debate on Miami's WPLG-10 against ...
10268,1155.json,5,The Department of Veterans Affairs has a manua...,"health-care,veterans",michael-steele,chairman of the Republican National Committee,Maryland,republican,0.0,1.0,1.0,0.0,2.0,a Fox News interview

In [61]:
query = """
SELECT distinct(subject) FROM df;
"""
result_df = pysqldf(query)
csv_file_path = '/Users/janek/Desktop/Pajton/Fake?News/dist_subs.csv'
result_df.to_csv(csv_file_path, index=False)

In [68]:
query = """
SELECT COUNT(*) AS amount, subject 
FROM df 
GROUP BY subject 
HAVING COUNT(*) > 100 
ORDER BY amount DESC;
"""
result_df = pysqldf(query)
result_df

   amount               subject
0     382           health-care
1     308                 taxes
2     253           immigration
3     253             elections
4     238             education
5     190  candidates-biography
6     138               economy
7     130                  guns
8     125          economy,jobs
9     122        federal-budget

In [29]:
query = """
SELECT statement, speaker FROM df where subject is 'abortion' and false_counts = 1.0;
"""
result_df = pysqldf(query)

for i in range(0, 15):
    print(result_df["speaker"][i])
    print(result_df["statement"][i])

dwayne-bohac
Says the Annies List political group supports third-trimester abortions on demand.
americans-united-life
In 2010 alone, 1,270 infants were reported to have died following attempted abortions and notably that is only one year.
ronald-renuart
Almost 37 percent of the total income from Planned Parenthood is from abortions.
donna-campbell
Says Jeff Wentworth was the only Republican to vote against the Texas measure requiring women to have a sonogram before receiving an abortion.
trent-franks
Today in America, between 40 and 50 percent of all African-American babies, virtually 1-in-2, are killed before they are born.
tarina-keene
More than 100,000 women in Texas have attempted to self-induce abortion in the past year alone.
naral-pro-choice
If Cory Gardner gets his way, youd better stock up on condoms.
bornalivetruth-org
Barack Obama opposed a bill that would have saved Gianna Jessen's life.
sam-brownback
"I'm pro-life. He's not."
sandra-smith
Almost 95 percent of all (Planned Parenthood) pregnancy services were abortions.
justin-amash
Justin Amash is rated Michigans No. 1 conservative by National Right to Life.
loretta-sanchez
The House of Representatives does not have a prochoice majority.
susan-combs
On abortion.
charles-van-zant
Abortionists have reduced our black population by more than 25 percent since 1973.
armond-budish
Weve seen more anti-womens choice bills introduced in the first half of this session than weve seen in the last three General Assemblies.

In [60]:
query = """
SELECT COUNT(*) as count, state_info FROM df WHERE false_counts = 1.0  GROUP BY state_info order by count desc;
"""
result_df = pysqldf(query)
result_df

    count         state_info
0     337
1     197            Florida
2     157              Texas
3     115             Oregon
4     103           Virginia
5     101       Rhode Island
6      78          Wisconsin
7      77            Georgia
8      63               Ohio
9      59   Washington, D.C.
10     36         New Jersey
11     34           New York
12     30         California
13     29           Maryland
14     26           Illinois
15     24          Tennessee
16     24      New Hampshire
17     17           Missouri
18     16          Louisiana
19     15               Iowa
20     15            Arizona
21     14               Utah
22     13           Michigan
23     11             Nevada
24      9      Massachusetts
25      9        Connecticut
26      9           Colorado
27      8             Kansas
28      5     South Carolina
29      5       Pennsylvania
30      3      West Virginia
31      3   Washington state
32      3         Washington
33      3            Virgina
34      3     North Carolina
35      3           Florida
36      2  Washington, D.C.
37      2               None
38      2        Mississippi
39      2          Minnesota
40      2           Kentucky
41      2             Alaska
42      2            Alabama
43      1                Tex
44      1       South Dakota
45      1           Oklahoma
46      1     New Hampshire
47      1           Nebraska
48      1                N/A
49      1              Idaho
50      1           Arkansas

In [56]:
query = """
SELECT COUNT(*) as count, state_info FROM df WHERE false_counts = 1.0 and party_affiliation = 'democrat' GROUP BY state_info order by count desc;
"""
result_df = pysqldf(query)
result_df

    count         state_info
0      81
1      72              Texas
2      61             Oregon
3      61            Florida
4      56           Virginia
5      46       Rhode Island
6      35               Ohio
7      27         New Jersey
8      24          Wisconsin
9      23           Maryland
10     20   Washington, D.C.
11     17           Illinois
12     13            Georgia
13     11           New York
14     11         California
15      7          Louisiana
16      6          Tennessee
17      5      New Hampshire
18      4           Missouri
19      4      Massachusetts
20      3   Washington state
21      3         Washington
22      3     South Carolina
23      3           Michigan
24      3               Iowa
25      2  Washington, D.C.
26      2             Nevada
27      1      West Virginia
28      1       Pennsylvania
29      1           Nebraska
30      1                N/A
31      1           Kentucky
32      1           Arkansas

In [59]:
query = """
SELECT COUNT(*) as count, state_info FROM df WHERE false_counts = 1.0 and party_affiliation = 'republican' GROUP BY state_info order by count desc;
"""
result_df = pysqldf(query)
result_df

    count        state_info
0     107           Florida
1      72             Texas
2      68
3      45           Georgia
4      35          Virginia
5      32         Wisconsin
6      28            Oregon
7      27      Rhode Island
8      25              Ohio
9      19     New Hampshire
10     17         Tennessee
11     17        California
12     16  Washington, D.C.
13     15           Arizona
14     14              Utah
15     11          New York
16     11          Missouri
17     11              Iowa
18      9            Nevada
19      9          Michigan
20      9         Louisiana
21      8          Illinois
22      7        New Jersey
23      6          Maryland
24      6            Kansas
25      6          Colorado
26      3      Pennsylvania
27      3    North Carolina
28      3          Florida
29      2     West Virginia
30      2    South Carolina
31      2       Mississippi
32      2            Alaska
33      2           Alabama
34      1          Oklahoma
35      1          Kentucky
36      1             Idaho
37      1       Connecticut

In [54]:
query = """
SELECT 
    COUNT(*) AS count, 
    df.state_info, 
    states_df.alignment
FROM 
    df
JOIN 
    states_df ON df.state_info = states_df.state_info
WHERE 
    false_counts = 1.0 
GROUP BY 
    df.state_info, 
    states_df.alignment
ORDER BY 
    count DESC;
"""

result_df = pysqldf(query)
result_df

    count      state_info   alignment
0     197         Florida  Republican
1     157           Texas  Republican
2     115          Oregon  Democratic
3     103        Virginia  Democratic
4     101    Rhode Island  Democratic
5      78       Wisconsin  Democratic
6      77         Georgia  Republican
7      63            Ohio  Republican
8      36      New Jersey  Democratic
9      34        New York  Democratic
10     30      California  Democratic
11     29        Maryland  Democratic
12     26        Illinois  Democratic
13     24   New Hampshire  Democratic
14     24       Tennessee  Republican
15     17        Missouri  Republican
16     16       Louisiana  Republican
17     15         Arizona  Democratic
18     15            Iowa  Republican
19     14            Utah  Republican
20     13        Michigan  Democratic
21     11          Nevada  Democratic
22      9        Colorado  Democratic
23      9     Connecticut  Democratic
24      9   Massachusetts  Democratic
25      8          Kansas  Republican
26      5    Pennsylvania  Democratic
27      5  South Carolina  Republican
28      3  North Carolina  Republican
29      3      Washington  Democratic
30      3   West Virginia  Republican
31      2         Alabama  Republican
32      2          Alaska  Republican
33      2        Kentucky  Republican
34      2       Minnesota  Democratic
35      2     Mississippi  Republican
36      1        Arkansas  Republican
37      1           Idaho  Republican
38      1        Nebraska  Republican
39      1        Oklahoma  Republican
40      1    South Dakota  Republican